
/* .comment-area textarea{
  resize: none;
  border: 1px solid #ad9f9f;
}


.send {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.send:hover {
  color: #fff;
  background-color: #f50202;
  border-color: #f50202;
} */

.bdge {
  height: 21px;
  background-color: orange;
  color: #fff;
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.hit-voting:hover {
  color: blue;
}

.hit-voting {
  cursor: pointer;
}
